<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
     <div class="logo">
      <img src="{{ url_for('static', filename='TASK.png') }}" alt="Task manager logo">
      TASK MANAGER CLI
    </div>
    <nav>
        <a href="{{ url_for('main')}}">HOME</a>
        <a href="{{ url_for('view_task')}}">VIEW</a>
        <a href="{{ url_for('add_task')}}">ADD</a>
        <a href="{{ url_for('mark_completed')}}">MARK</a>
        <a href="{{ url_for('delete_task')}}">DELETE</a>
        <a href="{{ url_for('view_task')}}">EXIT</a>
    </nav>
    </header>

    <div class="main-section">
    <div class="main-content">
      <h1>About Task Manager</h1>
      <p>
        A simple Command Line Task Manager built with Python.
        This project lets you manage tasks directly from the terminal with persistent storage in JSON
      </p>
      <div class="images-section">
        <img src="{{ url_for('static', filename='main.png') }}" alt="Code Sample">
        <img src="{{ url_for('static', filename='output.png') }}" alt="Output Results">
      </div>
    </div>
        

    <footer>
        &copy;taskmanager@2025
    </footer>

</body>
</html>
